<%= form_for(@island) do |f| %>
  <% if @island.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@island.errors.count, "error") %> prohibited this island from being saved:</h2>

      <ul>
      <% @island.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :size %><br />
    <%= f.number_field :size %>
  </div>
  <div class="field">
    <%= f.label :genre %><br />
    <%= f.number_field :genre %>
  </div>
  <div class="field">
    <%= f.label :grade %><br />
    <%= f.number_field :grade %>
  </div>
  <div class="field">
    <%= f.label :begin %><br />
    <%= f.number_field :begin %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
