<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @session.name %>
</p>

<p>
  <b>Start:</b>
  <%= @session.start %>
</p>

<p>
  <b>End:</b>
  <%= @session.end %>
</p>

<p>
  <b>Student:</b>
  <%= @session.student_id %>
</p>


<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
