<div class="page-header">
  <h1><%= @unit.letter %>. <%= @unit.name %> for <%= @student.name %></h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Text</th>
    <th>Score</th>
  </tr>
  </thead>
  <tbody>
  <% @unit.texts.each do |text| %>
      <tr>
        <td><%= link_to text.name, [@student, text] %></td>
        <td>
          <% score = @student.score_by text %>
          <% if score %>
            <%= link_to score.value, edit_student_score_path(@student, score) %>
          <% else %>
            <%= link_to 'Set', new_student_score_path %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>