<%= form_for @user do |f| %>
    <%= f.error_messages %>
      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>

      <%= f.label :roles %>
      <ul>
      <% for role in User::ROLES %>
            <li>
              <label class="checkbox">
                <%= check_box_tag "user[roles][]", role, @user.roles.include?(role) %>
                <%=h role.humanize %>
              </label>
            </li>
      <% end %>
      </ul>
      <%= hidden_field_tag "user[roles][]", "" %>

    <p><%= f.submit :class => :btn %></p>
<% end %>