<%- model_class = Unit -%>
<div class="page-header">
  <h1>Unit <%= @unit.letter %> - <%= @unit.name %></h1>
</div>


    <canvas id="island" style="width:auto; height: 400px"></canvas>

    <div class="form-actions">
      <div style="float: left"><button class="btn btn-primary" id="renderIslandButton">Render Island</button></div>
      <div style="float: right">
        <%= link_to 'Add text',
                    new_unit_text_path(@unit),
                    :class => 'btn btn-primary' %>

        <%= link_to 'Back to Unit list',
                    units_path, :class => 'btn'  %>
        <%= link_to 'Edit Unit',
                    edit_unit_path(@unit), :class => 'btn' %>
        <%= link_to 'Delete Unit',
                    unit_path(@unit),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-danger' %>
      </div>
      </div>



<table class="table table-striped">
  <thead>
  <tr>
    <th>Text</th>
    <th>Unit</th>
    <th>Author</th>
    <th>Lessons</th>
    <th>Lexiles</th>
    <th>Sequence</th>
    <th>Genre</th>
    <th>Performance</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
    <%= render @unit.texts %>
  </tbody>
</table>


