<%- model_class = Unit -%>
<div class="page-header">
  <h1>Unit <%= @unit.letter %> - <%= @unit.name %></h1>
</div>

<ul class="nav nav-tabs">
  <li><a href="#canvas_container" data-toggle="tab">Scheme</a></li>
  <li><a href="#rendered_island" data-toggle="tab" id="island_tab">Island</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane" id="canvas_container">
        <div>
            <canvas id="island" src="<%= session_path(@session, :format => 'json') %>" unit="<%= @unit.id %>"></canvas>
        </div>
    </div>
    <div class="tab-pane" id="rendered_island">

      <div class="form-actions">
        <button id="render_island" class="btn btn-success">Render Island</button>
        <!--<button href="#" id="upload_session_scheme" class="btn btn-primary">Upload</button>-->
      </div>

      <canvas id="c" s3url="<%= session_upload_path(@session) %>" s3bucket="units" s3fname="<%= @unit.id %>"></canvas>
    </div>
</div>

    <div class="form-actions">

        <%= link_to 'Add text',
                    new_unit_text_path(@unit),
                    :class => 'btn btn-primary' %>

        <%= link_to 'Back to ' + @session.name,
                    @session, :class => 'btn'  %>
        <%= link_to 'Edit Unit',
                    edit_unit_path(@unit), :class => 'btn' %>
        <%= link_to 'Delete Unit',
                    unit_path(@unit),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-danger' %>

    </div>

<h3>Texts</h3>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Text</th>
    <th>Unit</th>
    <th>Author</th>
    <th>Lessons</th>
    <th>Lexiles</th>
    <th>Sequence</th>
    <th>Genre</th>
    <th>Performance</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
    <%= render @unit.texts %>
  </tbody>
</table>


