<!DOCTYPE html>
<html>
<head>
  <title>ELA Maps: Islands</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">

  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">ELA Map / Islands</a>
      <div class="nav-collapse collapse navbar-inverse-collapse">
        <ul class="nav">
          <li><a href="/sessions">Sessions</a></li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Users <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/teachers">Teachers</a></li>
              <li><a href="/students">Students</a></li>
              <li class="divider"></li>
              <li><a href="<%= users_path %>">Users and permissions</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/hypsometries">Hypsometry</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Prototypes <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/hypsometric-mockup">Single Image Map : Rendered Hypsometric</a></li>
              <li><a href="/tilemockup">Tiled Image : Rendered Styled Isometric</a></li>
              <li><a href="/map">Single Image : Rendered + Path + Label Map</a></li>
              <li><a href="/tilemap">Tiled Image : Voronoi Generated Map</a></li>
            </ul>
          </li>

        </ul>

        <% if current_user %>
            <ul class="nav pull-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.username %> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Sign out", logout_path %></li>
                  <li><%= link_to "Edit Profile", edit_account_path %></li>
                </ul>
              </li>
            </ul>
        <% else %>
            <ul class="nav pull-right">
              <li class="dropdown open">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Unlogged User <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Register", signup_path %></li>
                  <li><%= link_to "Login", login_path %></li>
                </ul>
              </li>
            </ul>

            <!--
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>
            -->
        <% end %>


      </div>
    </div>
  </div><!-- /navbar-inner -->

</div>

<div class="container" style="padding-top: 50px">
  <%# render_breadcrumbs %>
  <% flash.each do |name, msg| %>
      <%= content_tag :p, msg, :class => name %>
  <% end %>
<%= yield %>
</div>


</body>
</html>
